body {
	margin: 0px;
    font: normal 12px HelveticaNeue, Helvetica, Arial;
    -webkit-backface-visibility: hidden;
}
#header {
	width: 100%;
	height: 48px;
	background: #EEEEEE;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
    padding: 0;
    margin: 0;
}
#title{
    width: 25%;
    height: 8px;
    float: left;
	text-align: left;
    padding: 0;
    margin: 0;
    position: relative;	
}
#title h2 {
	color: #3f3f3f;
    text-shadow: rgba(0,0,0,0.8) 0px 1px 1px;
    white-space: nowrap;
	font: 300 18px/140% "MyriadPro-Regular", "Myriad Pro Regular", MyriadPro, "Myriad Pro", Calibri, sans-serif;
    padding: 0;
    margin-left: 20px;
    margin-top: 12px;
    text-transform:uppercase;
}
#menu {
    height: 160px;
    position: absolute;
    top: 0;
    left: 60%;
    float: left;
	width: 300px;
	background: #3F3F3F;
    color: white;
    border-radius:0;
    padding:10px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
}

div.varSelects {
    position: relative;
}

.selectTitle {
    display: block;
    font-size: 12px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    color: #cbcbcb;    
}

select {
    background-color: #323232;
    color: white;
    padding: 7px;    
    border: none;
    width: 294px;
}

input {
    background-color: #323232;
    color: white;
    font-family: 'Helvetica Neue','Open Sans',Arial,sans-serif;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin:0 5px 0 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

input:focus, select:focus, option:focus {
	outline: none;
}

label{
    margin-right: 50px;
    display: block;
    padding-left: 22px;
    text-indent: -22px;
    float: left;
}

svg {
    margin-top: 20px;
}

.upperLabel {
    font: 300 18px/140% "MyriadPro-Regular", "Myriad Pro Regular", MyriadPro, "Myriad Pro", Calibri, sans-serif;
    fill: #FE9900;
}

.lowerLabel {
    font: 300 18px/140% "MyriadPro-Regular", "Myriad Pro Regular", MyriadPro, "Myriad Pro", Calibri, sans-serif;
    fill: #514554;
}

#TopVariable{
    background: url(../images/upperGraphIcon.png) 4px #323232 no-repeat;
    text-indent:50px;
    height: 32px;
}

#BottomVariable{
    margin-top: 10px;
    background: url(../images/lowerGraphIcon.png) 4px #323232 no-repeat;
    text-indent:50px;
    height: 32px;
}

#Filter{
    margin-top: 10px;
    background: url(../images/filterIcon.png) 4px #323232 no-repeat;
    text-indent:50px;
    height: 32px;
}

#Sort{
    margin-top: 10px;
    background: url(../images/sortIcon.png) 4px #323232 no-repeat;
    text-indent:50px;
    height: 32px;
}

.RectTitleText{
    font: 300 18px/140% "MyriadPro-Regular", "Myriad Pro Regular", MyriadPro, "Myriad Pro", Calibri, sans-serif;
    fill: #e41a1c;
}

#chart {
    width: 600px;
    height: 550px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 25%;
    display: none;
    overflow: hidden;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
    z-index: 100;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.25) 1px 0px 0px;
    background-color: white;
    
}

#chartTitle {
    width: 600px;
    padding: 10px;
    margin: 0;
    font: 300 18px/140% "MyriadPro-Regular", "Myriad Pro Regular", MyriadPro, "Myriad Pro", Calibri, sans-serif;
    background-color: #FE9900;
    text-align: center;
    color: white;
}

#chartClose {
    float: right;
    margin-top: -38px;
    margin-right: 30px;
    background-color: #FE9900;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 30px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    background: url(../images/closeIcon.png) 8px no-repeat;
    background-size: 14px 14px;
}

#chartAlert {
    width: 600px;
    margin: auto;
    font: 300 18px/140% "MyriadPro-Regular", "Myriad Pro Regular", MyriadPro, "Myriad Pro", Calibri, sans-serif;
    background-color: #FF0000;
    text-align: center;
}

#imageFail {
    width: auto;
    margin: auto;
    background-color: #FF0000;
    text-align: center;
    vertical-align: middle;    
}